version: '3'

services:

  opensearch:
    build:
      context: .
      dockerfile: Dockerfile.opensearch
      args:
        - SECURE_INTEGRATION=${SECURE_INTEGRATION:-false}
        - OPENSEARCH_VERSION=${OPENSEARCH_VERSION:-latest}
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - path.repo=/usr/share/opensearch/mnt
    ports:
      - "9200:9200"
    user: opensearch
