name: Lint check

on: [push, pull_request]

env:
  GITHUB_ACTIONS: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: { go-version-file: 'go.mod' }
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.64.8
          args: -v -c .golangci.yml
          only-new-issues: true

  prettify:
    name: Prettify
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm i -g prettier
      - name: Check markdown files
        run: prettier --prose-wrap never --check **/*.md
