name: Integration for Compatibility

on: [push, pull_request]

jobs:
  integration-test-compatibility:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        secured: ["true", "false"]
        entry:
          - { opensearch_version: 1.1.0 }
          - { opensearch_version: 1.2.0 }
          - { opensearch_version: 1.2.1 }
          - { opensearch_version: 1.2.2 }
          - { opensearch_version: 1.2.3 }
          - { opensearch_version: 1.2.4 }
          - { opensearch_version: 1.3.0 }
          - { opensearch_version: 1.3.1 }
          - { opensearch_version: 2.0.0 }
          - { opensearch_version: 2.0.1 }
          - { opensearch_version: 2.1.0 }
    steps:
      - uses: actions/checkout@v2
        with: { fetch-depth: 1 }

      - uses: actions/setup-go@v2.1.3
        with: { go-version: '1.x' }

      - run: go version

      - name: Increase system limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Launch OpenSearch cluster
        run: |
          export OPENSEARCH_VERSION=${{ matrix.entry.opensearch_version }}
          export SECURE_INTEGRATION=${{ matrix.secured }}
          make cluster.clean cluster.opensearch.build cluster.opensearch.start

      - name: Integration test without security
        if: ${{ matrix.secured == 'false'}}
        run: make test-integ race=true

      - name: Integration test with security
        if: ${{ matrix.secured == 'true'}}
        run: make test-integ-secure

      - name: Stop the OpenSearch cluster
        run: |
          make cluster.opensearch.stop
