name: Integration

on: [push, pull_request]

env:
  GITHUB_ACTIONS: true

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: { go-version-file: 'go.mod' }
      - run: go version
      - name: Increase system limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - name: Launch OpenSearch cluster
        run: |
          make cluster.clean cluster.build cluster.start
          for attempt in `seq 25`; do sleep 5; \
          if curl -s localhost:9200; \
          then echo '=====> ready'; break; fi; if [ $attempt == 25 ]; then exit 1; fi; echo '=====> waiting...'; done
      - run: make test-integ race=true coverage=true
      - uses: codecov/codecov-action@v3
        with:
          file: tmp/integ.cov
          flags: integration

  secured:
    name: Tests against secure cluster
    runs-on: ubuntu-latest
    env:
      SECURE_INTEGRATION: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: { go-version-file: 'go.mod' }
      - run: go version
      - name: Increase system limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - name: Launch OpenSearch cluster
        run: |
          make cluster.clean cluster.build cluster.start
          for attempt in `seq 25`; do sleep 5; \
          if curl -s -ku admin:myStrongPassword123! https://localhost:9200; \
          then echo '=====> ready'; break; fi; if [ $attempt == 25 ]; then exit 1; fi; echo '=====> waiting...'; done
      - run: make test-integ-secure
