name: Integration with Unreleased OpenSearch

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        entry:
          - { branch: '1.x', java-version: '11' }
          - { branch: '2.x', java-version: '17' }
          - { branch: 'main', java-version: '21' }
    steps:
      - name: Checkout OpenSearch
        uses: actions/checkout@v4
        with:
          repository: opensearch-project/OpenSearch
          ref: ${{ matrix.entry.branch }}
          path: opensearch

      - name: Get OpenSearch branch top
        id: get-key
        working-directory: opensearch
        run: echo key=`git log -1 --format='%H'` >> $GITHUB_OUTPUT

      - name: Restore cached build
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: opensearch/distribution/archives/linux-tar/build/distributions
          key: ${{ steps.get-key.outputs.key }}

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.entry.java-version }}

      - name: Assemble OpenSearch
        if: steps.cache-restore.outputs.cache-hit != 'true'
        working-directory: opensearch
        run: ./gradlew :distribution:archives:linux-tar:assemble

      - name: Save cached build
        if: steps.cache-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: opensearch/distribution/archives/linux-tar/build/distributions
          key: ${{ steps.get-key.outputs.key }}

      - name: Run OpenSearch
        working-directory: opensearch/distribution/archives/linux-tar/build/distributions
        run: |
          tar xf opensearch-min-*
          ./opensearch-*/bin/opensearch -Epath.repo=/usr/share/opensearch/mnt &
          for attempt in {1..20}; do sleep 5; if curl -s localhost:9200; then echo '=====> ready'; break; fi; echo '=====> waiting...'; done

      - name: Checkout Go Client
        uses: actions/checkout@v4
        with:
          path: go-client

      - name: Setup Go
        uses: actions/setup-go@v5
        with: { go-version-file: 'go-client/go.mod' }

      - name: Integration test
        working-directory: go-client
        run: make test-integ-core race=true
        env:
          OPENSEARCH_GO_SKIP_JSON_COMPARE: true

      - name: Save server logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: opensearch-logs-${{ matrix.entry.branch }}
          path: |
            opensearch/distribution/archives/linux-tar/build/distributions/**/logs/*
