name: Integration for Compatibility

on: [push, pull_request]

jobs:
  integ-test-compat:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        secured: ["true", "false"]
        entry:
          - { opensearch_version: 1.1.0 }
          - { opensearch_version: 1.2.4 }
          - { opensearch_version: 1.3.15 }
          - { opensearch_version: 2.0.1 }
          - { opensearch_version: 2.1.0 }
          - { opensearch_version: 2.2.1 }
          - { opensearch_version: 2.3.0 }
          - { opensearch_version: 2.4.1 }
          - { opensearch_version: 2.5.0 }
          - { opensearch_version: 2.6.0 }
          - { opensearch_version: 2.7.0 }
          - { opensearch_version: 2.8.0 }
          - { opensearch_version: 2.9.0 }
          - { opensearch_version: 2.10.0 }
          - { opensearch_version: 2.11.1 }
          - { opensearch_version: 2.12.0 }
          - { opensearch_version: 2.13.0 }
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with: { go-version-file: 'go.mod' }

      - run: go version

      - name: Increase system limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Launch OpenSearch cluster
        run: |
          export OPENSEARCH_VERSION=${{ matrix.entry.opensearch_version }}
          export SECURE_INTEGRATION=${{ matrix.secured }}
          make cluster.clean cluster.build cluster.start
          for attempt in `seq 25`; do sleep 5; \
          if curl -s $(if $SECURE_INTEGRATION; then echo "-ku admin:admin https://"; fi)localhost:9200; \
          then echo '=====> ready'; break; fi; if [ $attempt == 25 ]; then exit 1; fi; echo '=====> waiting...'; done

      - name: Integration test
        run: |
          export OPENSEARCH_VERSION=${{ matrix.entry.opensearch_version }}
          export SECURE_INTEGRATION=${{ matrix.secured }}
          make cluster.get-cert test-integ race=true

      - name: Stop the OpenSearch cluster
        run: |
          make cluster.stop
